src/main/mule/salesforce-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="salesforce-sys-api-main">
		<http:listener
			config-ref="salesforce-sys-api-httpListenerConfig" path="/api/v1/*" doc:name="Salesforce System API HTTP Listener">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="salesforce-sys-api-config" doc:name="Salesforce System APIkit Router"/>
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" type="ANY">
				<flow-ref doc:name="Call  Common Error Handler flow"
					doc:id="b3bf7062-4ee4-4e45-bacc-adbf181da495"
					name="error-handlerSub_Flow" />
			</on-error-propagate>

		</error-handler>
	</flow>
	<flow name="salesforce-sys-api-console">
		<http:listener
			config-ref="salesforce-sys-api-httpListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="salesforce-sys-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow
		name="delete:\employee\(employeeId):salesforce-sys-api-config">
		<flow-ref doc:name="delete employee details in Salesforce" doc:id="ef970973-f3e4-48c1-abfe-c4d327241e96" name="delete-EmployeeDetail" />
		</flow>
	<flow name="get:\employee\(employeeId):salesforce-sys-api-config">
		
		<flow-ref doc:name="get employee details in Salesforce"
			doc:id="e059cf35-1688-46f8-85f9-e79f0159146e"
			name="get-EmployeeDetail" />
	</flow>
	<flow
		name="post:\createEmployee:application\json:salesforce-sys-api-config">
		<flow-ref doc:name="create employee details in Salesforce" doc:id="ad805c2e-8dba-482a-9587-6d48b1486d74" name="create-EmployeeDetail" />
		
	
	</flow>
	<flow
		name="post:\updateEmployee:application\json:salesforce-sys-api-config">
		<flow-ref doc:name="Update employee details in Salesforce" doc:id="a92fbd19-57c4-4aeb-9200-f193767f76e1" name="update-EmployeeDetail" />
		
		</flow>
</mule>
